<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bungee|Hind+Siliguri|Press+Start+2P" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SFW Hub</title>
</head>
<body>
<div class="container">
<header>
    <img id="headerimg" src="../static/images/header.png" alt="Why am I watching memes on PornHub?">
    <a href="/"><h1 id="newhed">Safe<span class="newhedbg">4Work</span></h1></a>
    <h3>Exploring PornHub's <span class="newhedbg">not-so-seedy</span> underbelly</h3>
    
</header>
{% block playvideo %}{% endblock %}

    
    {% block videos %}{% endblock %}


<footer>
    <p>made for other degenerates of the old web by @jakeclelandvevo </p>
    <p>code on github here</p>
    <p>available for a limited time only</p>
</footer>
</div>
</body>
</html>